@tailwind base;
@tailwind components;
@tailwind utilities;


:focus-visible {
  outline: 2px dashed theme('colors.blue.500');
  outline-offset: 2px;
}

.container-max {
  @apply max-w-6xl mx-auto px-4;
}

.lista {
  @apply grid gap-6;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
  @apply border rounded-lg p-4 bg-white shadow-sm;
}

.card img {
  @apply w-full h-96 object-cover rounded;
}